<launch>

  <arg name="model" default="$(find my_robot_urdf)/urdf/my_robot.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
  <include file="$(find my_robot_urdf)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)"/>
  </include>
  <rosparam command="load"
            file="$(find my_robot_urdf)/config/joints_state.yaml" />
  
    <rosparam command="load"
            file="$(find my_robot_urdf)/config/velocity_controller.yaml"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="my_robot_controller_spawner" pkg="controller_manager" type="spawner"
    args=" joint_state
            velocity_controller"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
